# Configuração do banco de dados
DB_HOST=localhost
DB_PORT=5433
DB_NAME=dossie_grupo4
DB_USER=admin
DB_PASSWORD=admin
DB_SCHEMA=grupo4

# Diretórios
RAW_DATA_DIR=./tabelas
CLEAN_DATA_DIR=./dados_padronizados
LOG_DIR=./logs
ENRICH_DEPUTADOS_API=true
API_CACHE_PATH=./logs/deputados_api_cache.json
